apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mlp
commonLabels:
  app.kubernetes.io/managed-by: kustomize
resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
